* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  line-height: 1.6;
  background-color: white;
  color: #333
}

.header-logo {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}

header {
  background-color: #00A6E9;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #555555;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav a {
  color: #EAF6FB;
  padding: 15px 20px;
  text-decoration: none;
  display: block;
  font-family: 'Rubik', sans-serif;
  font-size: 1.1rem;
}

nav a:hover {
  background-color: #00A6E9;
}

footer {
  background-color: #00A6E9;
  color: white;
  text-align: center;
  padding: 15px;
  width: 100%;
  margin-top: auto;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
}


main {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;


}



/*CSS de seccion principal*/
.SeccionPrincipal {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
}


.ofertas {
  background-color: #00A6E9;
  width: 100%;
  max-width: 1000px;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

table {
  margin: auto;
  border: 1px solid;
  border-collapse: collapse;
  font-family: 'Rubik';
  width: 100%;
  max-width: 658px;
  min-width: 600px;
  color: white;
}


table tr {
  border: 1px solid;

}


td,
th {
  padding-left: 10px;
  border: 1px solid #ffffff;
  height: 40px;
  font-size: 0.87rem;
  text-align: center;
  white-space: normal;
  word-wrap: break-word;
  width: auto;
}

tbody tr:hover {
  background-color: #FFD56B;
  cursor: pointer;
}



/*PARTE RESPONSIVE*/
@media (max-width: 600px) {
  nav {
    flex-direction: column;
  }

  table {
    width: 100%;
    min-width: unset;
    max-width: unset;
  }



  td,
  th {
    font-size: 0.85rem;
    padding: 8px;
    height: 40px;
  }

  img {
    max-width: 100px;
    height: auto;
  }
}