* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  line-height: 1.6;
  background-color: white;
  color: #ffffff
}

.header-logo {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}

header {
  background-color: #00A6E9;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #555;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav a {
  color: #EAF6FB;
  padding: 15px 20px;
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
}

nav a:hover {
  background-color: #00A6E9;
}

main {
  flex-grow: 1;
  padding: 20px;
}

footer {
  background-color: #00A6E9;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: auto;
}

.seccion-registro {
  background-color: #00A6E9;
  margin: 20px auto;
  padding: 30px;
  border-radius: 10px;
  max-width: 1000px;
  color: white;
}

.grupo-botones,
.boton-guardar {
  text-align: right;
  margin: 10px auto;
  width: 95%;
}

.boton-crud {
  background-color: #EAF6FB;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  font-weight: bold;
  font-family: 'Rubik', sans-serif;
}

.boton-crud:hover {
  background-color: #dbeaf0;
}

table {
  width: 95%;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: #EAF6FB;
  color: #333;
}

th,
td {
  padding: 12px;
  border: 1px solid #00A6E9;
  text-align: center;
}

th {
  background-color: rgba(234, 246, 251, 0.4);
  font-family: 'Rubik', sans-serif;
}

tr:hover {
  background-color: #FFD56B;
  color: #333;
}