* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Rubik', sans-serif;
  line-height: 1.6;
  background-color: white;
  color: #333
}

.header-logo {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}

header {
  background-color: #00A6E9;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #555555;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav a {
  color: #EAF6FB;
  padding: 15px 20px;
  text-decoration: none;
  display: block;
  font-family: 'Rubik', sans-serif;
  font-size: 1.1rem;
}

nav a:hover {
  background-color: #00A6E9;
}

footer {
  background-color: #00A6E9;
  height: 100px;
  color: white;
  text-align: center;
  padding: 15px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

footer p{
  color: white;
  font-weight: bold;
}

footer a {
  text-decoration: none;
  color: white;
}

.brand-link {
  display: inline-flex;
  align-items: center;
  gap: 1px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}


.brand-link img {
  height: 30px;  
  width: auto;    
  display: block; 
}

.landing-page{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  color: white;
}

.landing-page:hover a {
  color: #FFD56B;
}


main {
  flex: 1;
  padding: 20px;
}


/*PARTE RESPONSIVE*/
@media (max-width: 600px) {
  nav {
    flex-direction: column;
  }

  .botonesCrud {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;

  }

main {
  padding: 20px;
  display: block;
  flex: 1;
}
  .encabezado {
    padding: 0 10px;
  }

  .encabezado h1 {
    font-size: 1rem;
    padding: 10px 0;
  }

}

/*PROPIEDADES DEL MAPA INTERACTIVO*/
.mapa-interactivo {
  padding: 20px;
  border: solid #333;
  max-width: 1200px;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.labels-lugares {
  display: grid;
  flex: 1 1 300px;
  min-width: 250px;
}

.label-lugar {
  color: #333;
  font-weight: bold;
  font-size: 1.3rem;
}

.lista-lugares {
  list-style-type: none;
  padding: 10px;
  margin-left: 20px;       
}

.lista-lugares li:hover {
  cursor: pointer;
  font-size: 1.1rem;
  color: #00A6E9;
}

iframe {
  flex: 1 1 300px;
  width: 100%;
  min-height: 300px;
  border: none;
}

.encabezado {
  width: 100%;
  max-width: 1200px;
  margin: 10px auto 20px auto;
  text-align: center;
  padding: 0 20px;
}

.encabezado h1 {
  color: #333;
  font-weight: bold;
  font-size: clamp(1.5rem, 5vw, 2.8rem);
  line-height: 1.2;
}