* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    html, body {
  height: 100%;
}

    body {
      font-family: 'Rubik', sans-serif; /*Formato predefinido en IAs*/
      line-height: 1.6;
      background-color: white;
      color: #ffffff
    }

    header {
      background-color: #0e4d92;
      color: white;
      padding: 20px;
      text-align: center;
    }

    header h1 { 
  font-family: 'Rubik', sans-serif; 
  font-size: 2.8rem; 
  color: white;
  }

  header p { 
  font-family: 'Roboto', sans-serif; 
  font-size: 1rem; 
  color: white;
}

  header {
    background-color: #00A6E9;
    color: white;
    padding: 20px;
    text-align: center;
  }

nav {
  background-color: #555555;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav a {
  color: #EAF6FB;
  padding: 15px 20px;
  text-decoration: none;
  display: block;
  font-family: 'Rubik', sans-serif; 
  font-size: 1.1rem; 
}

nav a:hover {
  background-color: #00A6E9
  ;
}
    footer {
  background-color: #00A6E9;
  color: white;
  text-align: center;
  padding: 15px;
  width: 100%;
  margin-top: auto;
  font-family: 'Roboto', sans-serif; 
  font-size: 0.9rem; 
}

    main{
        padding: 20px;
        flex: 1;
        display: flex;
        flex-direction: column;

    }



/*CSS de seccion principal*/
.SeccionPrincipal {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.noticias {
  background-color: #00A6E9;
  width: 100%;
  max-width: 1000px;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

table {
  width: 100%;
  max-width: 1000px;
  border: 1px solid;
  border-collapse: collapse;
  font-family: 'Rubik', sans-serif;
}

table tr {
    border: 1px solid;
  
}


td, th {
  padding: 10px;
  border: 1px solid #EAF6Fb;
  height: 40px;
  font-size: 0.87rem;
  text-align: center;
  white-space: normal;       
  word-wrap: break-word;  
  width: auto;           
}





tbody tr:hover{
    background-color: #FFD56B;
}



/*PARTE RESPONSIVE*/
@media (max-width: 600px) {

  nav {
        flex-direction: column;
      }

  .SeccionPrincipal{
    display: flex;
    justify-content: center;
    padding: 10px;
  }


  table {
    width: 10%;
    min-width: unset;
    max-width: unset;
    padding: 0;
  }

  td, th {
    font-size: 0.85rem;
    padding: 0.5px;
    height: 40px;
  }

  .imagen {
    width: 100%;
    max-width: 150px;
    height: auto;
  }
}

.imagen-suceso {
  padding: 5px;
  text-align: center;
}

.imagen {
  width: 100%;
  max-width: 200px;
  height: auto;
  object-fit: cover;
  display: block;
  margin: auto;
}