* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  font-family: 'Rubik', sans-serif;
  line-height: 1.6;
  background-color: white;
  color: #333
}

.header-logo {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}

header {
  background-color: #00A6E9;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #555555;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav a {
  color: #EAF6FB;
  padding: 15px 20px;
  text-decoration: none;
  display: block;
  font-family: 'Rubik', sans-serif;
  font-size: 1.1rem;
}

nav a:hover {
  background-color: #00A6E9;
}

footer {
  background-color: #00A6E9;
  height: 100px;
  color: white;
  text-align: center;
  padding: 15px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

footer p{
  color: white;
  font-weight: bold;
}

main {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;


}



/*CSS de seccion principal*/
.SeccionPrincipal {
  background-color: white;
  color: white;
  justify-content: center;
  align-items: center;
  width: 78%;
  margin: auto;
}

.subseccion {
  background-color: #00A6E9;
  color: white;
  height: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}


table {
  margin: auto;
  border: 1px solid  #333;
  border-collapse: collapse;
  font-family: 'Rubik';
  width: 100%;
  max-width: 658px;
  min-width: 400px;
  background-color: #EAF6FB;
  color: #333;

}


table tr {
  border: 1px solid;

}


td,
th {
  padding: 5px;
  border: 1px solid #EAF6Fb;
  height: 40px;
  width: 60px;
  font-size: 0.87rem;
  border: 1px solid #00A6E9;
}

td{
  text-align: center;
}

/*PARTE RESPONSIVE*/
@media (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: center;
  }

  .cartasKpis {
    flex-direction: column;
    align-items: center;
  }

  .subseccion {
    overflow-x: auto;
  }

  table {
    min-width: 600px;
    width: max-content;
    font-size: 0.8rem;
  }

  td,
  th {
    padding: 6px;
    font-size: 0.75rem;
    white-space: nowrap;
    text-align: center;
  }
}

/*CSS PARA CARTASS DE KPIS*/
.cartasKpis {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
  justify-content: center;

}

.cartaTotales {
  flex: 1;
  max-width: 160px;
  max-height: 90px;
  background: white;
  border-radius: 12px;
  padding: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cartaTotales h3 {
  margin: 0;
  font-size: .8rem;
  color: #00A6E9;
}

.cartaTotales .valor {
  margin-top: 2px;
  font-size: 1rem;
  font-weight: bold;
  color: #FFD56B;
}

footer a {
  text-decoration: none;
  color: white;
}

.brand-link {
  display: inline-flex;
  align-items: center;
  gap: 1px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}


.brand-link img {
  height: 30px;  
  width: auto;    
  display: block; 
}

.landing-page{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  color: white;
}

.landing-page:hover a {
  color: #FFD56B;
}